type BasicProfile @loadModel(id: "kjzl6hvfrbw6c57p6t99krxnhqbxb24suuvxfhq1hnqujfecq0fap356ai7sjk9") {
    id: ID!
}

type Following @createModel(accountRelation: LIST, description: "Who do you follow?") {
    profileId: StreamID! @documentReference(model: "BasicProfile")
    profile: BasicProfile! @relationDocument(property: "profileId")
}