type BasicProfile @loadModel(id: "{{model}}") {
    id: ID!
}

type Following @createModel(accountRelation: LIST, description: "Who do you follow?") {
    profileId: StreamID! @documentReference(model: "BasicProfile")
    profile: BasicProfile! @relationDocument(property: "profileId")
}